# Lyo

model/license/
model/src/

# Eclipse
.settings/
src/.project
src/client-toolchain/.classpath
src/client-toolchain/.project
src/server-am/.classpath
src/server-am/.project
src/server-cm/.classpath
src/server-cm/.project
src/server-qm/.classpath
src/server-qm/.project
src/server-rm/.classpath
src/server-rm/.project

# Maven
target/
overlays/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#Idea

.idea/
*.iml

#Misc
.DS_Store