<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">
    <display-name>CM</display-name>
    <context-param>
        <description>Base URI for the adaptor.</description>
        <param-name>co.oslc.refimpl.cm.gen.servlet.baseurl</param-name>
        <param-value>http://localhost:8801/</param-value>
        <!-- Start of user code webxml_baseurl
        -->
        <!-- TODO: Add additional configurations here to avoid them be overrriden upon future re-generation -->
        <!-- End of user code
        -->
    </context-param>
    <!-- Start of user code webxml1
  -->
  <!-- TODO: Add additional configurations here to avoid them be overrriden upon future re-generation -->
  <!-- End of user code
    -->
    <listener>
        <description>Listener for ServletContext lifecycle changes</description>
        <listener-class>co.oslc.refimpl.cm.gen.servlet.ServletListener</listener-class>
    </listener>
    <!-- Start of user code webxml2
  -->
  <!-- TODO: Add additional configurations here to avoid them be overrriden upon future re-generation -->
  <!-- End of user code
    -->
    <servlet>
        <servlet-name>JAX-RS Servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>co.oslc.refimpl.cm.gen.servlet.Application</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- Start of user code webxml_servlet
    -->
    <!-- TODO: Add additional configurations here to avoid them be overridden upon future re-generation -->
    <!-- End of user code
    -->
    <servlet-mapping>
        <servlet-name>JAX-RS Servlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <filter>
        <display-name>CredentialsFilter</display-name>
        <filter-name>CredentialsFilter</filter-name>
        <filter-class>co.oslc.refimpl.cm.gen.servlet.CredentialsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CredentialsFilter</filter-name>
        <url-pattern>/services/*</url-pattern>
    </filter-mapping>
    
    <!-- Start of user code webxml_final
    -->
    <!-- TODO: Add additional configurations here to avoid them be overridden upon future re-generation -->
    <!-- End of user code
    -->
</web-app>
