services:
  server-rm:
    build:
      context: ./
      dockerfile: server-rm/Dockerfile
    ports:
      - "127.0.0.1:8800:8800"
  server-cm:
    build:
      context: ./
      dockerfile: server-cm/Dockerfile
    ports:
      - "127.0.0.1:8801:8080"
  server-qm:
    build:
      context: ./
      dockerfile: server-qm/Dockerfile
    ports:
      - "127.0.0.1:8802:8080"
  server-am:
    build:
      context: ./
      dockerfile: server-am/Dockerfile
    ports:
      - "127.0.0.1:8803:8080"
