services:
  server-rm:
    build:
      context: ./
      dockerfile: ./server-rm/tomcat.Dockerfile
    ports:
      - "8800:8080"
    # Uncomment to configure the base URL for reverse proxy or custom domain deployments
    # environment:
    #   - LYO_BASEURL=https://mytoolchain.example.com:9443/refimpl/rm
  server-cm:
    build:
      context: ./
      dockerfile: ./server-cm/tomcat.Dockerfile
    ports:
      - "8801:8080"
    # Uncomment to configure the base URL for reverse proxy or custom domain deployments
    # environment:
    #   - LYO_BASEURL=https://mytoolchain.example.com:9443/refimpl/cm
  server-qm:
    build:
      context: ./
      dockerfile: ./server-qm/tomcat.Dockerfile
    ports:
      - "8802:8080"
    # Uncomment to configure the base URL for reverse proxy or custom domain deployments
    # environment:
    #   - LYO_BASEURL=https://mytoolchain.example.com:9443/refimpl/qm
  server-am:
    build:
      context: ./
      dockerfile: ./server-am/tomcat.Dockerfile
    ports:
      - "8803:8080"
    # Uncomment to configure the base URL for reverse proxy or custom domain deployments
    # environment:
    #   - LYO_BASEURL=https://mytoolchain.example.com:9443/refimpl/am
