# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: CI acceptance tests (more JDKs)

on:
  schedule:
    # run integration tests every Thursday
    - cron: "31 06 * * 4"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' && !contains(github.event.pull_request.labels.*.name, 'ci:full') }}
jobs:
  build:
    runs-on: [ubuntu-latest]
    timeout-minutes: 15
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        jdk: ['21', '25']
        distribution: ['temurin']
        experimental: [false]
        include:
          - jdk: '21'
            distribution: 'corretto'
            experimental: false
          - jdk: '21'
            distribution: 'liberica'
            experimental: false
          - jdk: '21'
            distribution: 'microsoft'
            experimental: false
          - jdk: '21'
            distribution: 'zulu'
            experimental: false
          # - jdk: '24-ea'
          #   distribution: 'zulu'
          #   experimental: true

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v5
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.jdk }}
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-${{ matrix.jdk }}_${{ matrix.distribution }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.jdk }}_${{ matrix.distribution }}-maven-
      - name: Build with Maven
        run: mvn -B -Pacceptance verify --file src/pom.xml
      - name: Allow failures
        run: 'true'
