# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: CI build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' && github.ref != 'refs/heads/main' }}

jobs:
  build:
    runs-on: [ubuntu-latest]
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        jdk: ['17']
        distribution: ['temurin']
        experimental: [false]
        include:
          - jdk: '20'
            distribution: zulu
            experimental: true
          - jdk: '21'
            distribution: zulu
            experimental: true
    continue-on-error: ${{ matrix.experimental }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          show-progress: false
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.jdk }}
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-${{ matrix.jdk }}_${{ matrix.distribution }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.jdk }}_${{ matrix.distribution }}-maven-
      - name: Build with Maven
        run: mvn -B verify --file src/pom.xml

  maven-enforcer:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        jdk: ['17']
        distribution: ['temurin']
        experimental: [false]
        # include:
        #   - jdk: '21-ea'
        #     distribution: zulu
        #     experimental: true
    continue-on-error: ${{ matrix.experimental }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          show-progress: false
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.jdk }}
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-${{ matrix.jdk }}_${{ matrix.distribution }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.jdk }}_${{ matrix.distribution }}-maven-
      - name: maven-enforcer-plugin chec
        run: |
          mvn -B install --file src/pom.xml
          mvn -B verify --file src/server-am/pom.xml -Pstrict
          mvn -B verify --file src/server-cm/pom.xml -Pstrict
          mvn -B verify --file src/server-qm/pom.xml -Pstrict
          mvn -B verify --file src/server-rm/pom.xml -Pstrict
